@font-face {
    font-family: 'Mont Heavy';
    src: url('Fonts/Mont Heavy.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

#unity-container {
    position: fixed;
    width: 100%; 
    height: 100%;
}

#unity-canvas {
    width: 100%;
    height: 100%;
}